body {
  background: url(../img/blue.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 400;
}

p {
  font-size: 1.25em;
  line-height: 1.6;
  color: #000;
}

hr {
  border-color: #999999;
  max-width: 400px;
}

.brand,
.address-bar {
  display: none;
}


.navbar-brand {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 900;
}

.navbar-nav {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 400;
}

.img-full {
  min-width: 100%;
}

.brand-name {
  font-weight: 700;
  font-size: 1.5em;
  text-transform: capitalize;
  letter-spacing: normal;
}

.tagline-divider {
  margin: 15px auto 3px;
  border-color: #999999;
  max-width: 250px;
}

.box {
  background: #fff;
  background: rgba(255,255,255,0.9);
  margin-bottom: 20px;
  padding: 30px 15px;
}

.intro-text {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.25em;
  font-weight: 400;
}

.img-border {
  float: none;
  margin: 0 auto 0;
  border: #999999 solid 1px;
}

.img-left {
  float: none;
  margin: 0 auto 0;
}

footer {
  background: #fff;
  background: rgba(255,255,255,0.9);
}

footer p {
  margin: 0;
  padding: 50px 0;
}

@media screen and (min-width: 768px) {

.brand {
  display: inherit;
  font-weight: 700;
  font-size: 5em;
  line-height: normal;
  text-align: center;
  margin: 0;
  padding: 30px 0 10px;
  color: #fff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.top-divider {
  margin-top: 0;
}

.img-left {
  float: left;
  margin-right: 25px;
}

.address-bar {
  display: inherit;
  text-align: center;
  margin: 0;
  padding: 0 0 40px;
  font-size: 1.25em;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 400;
  color: #fff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.navbar {
  border-radius: 0;
}

.navbar-header {
  display: none;
}

.navbar {
  min-height: 0;
}

.navbar-default {
  background: #fff;
  background: rgba(255,255,255,0.9);
  border: none;
}

.nav>li>a {
  padding: 35px;
}

.navbar-nav>li>a {
  line-height: normal;
}

.navbar-nav {
  float: none;
  margin: 0 auto;
  display: table;
  table-layout: fixed;
  font-size: 1.25em;
}

}

@media screen and (min-width: 1200px) {
    .box:after {
        content: '';
        display: table;
        clear: both;
    }
}

#login{
    float: right;
    height: 50px;
    width: 100px;
    margin-top:20px;
    z-index: 10;
    position: relative;
}

#login-error{
    color:red;
}


#register{
    float: right;
    height: 50px;
    width: 100px;
    margin-top: 20px;
    z-index: 10;
    position: relative;
}

#logout{
    float:right;
    margin: 32px 7px;
}

#session-welcome{

}

#create-account{
    margin-left: 42%;
    position:relative;
}

#login-success{
    font-size: 60px;
    text-align: center;
    color:#006680;
    margin-left: 27%;
    position: fixed;
    z-index: 1;

    -webkit-animation: pulsate 3s ease-out;
    -webkit-animation-iteration-count: 1;
    opacity: 0.0
}

#login-success-users{
    padding-bottom: -100px;
    margin-top:-30px;
    font-size: 60px;
    text-align: center;
    color:#006680;
    margin-left: 27%;
    position: fixed;
    z-index: 1;

    -webkit-animation: pulsate 3s ease-out;
    -webkit-animation-iteration-count: 1;
    opacity: 0.0
}

#logout-success{
    padding-bottom: -100px;
    margin-top:-12px;
    font-size: 60px;
    text-align: center;
    color:#006680;
    margin-left: 27%;
    position: fixed;
    z-index: 1;

    -webkit-animation: pulsate 3s ease-out;
    -webkit-animation-iteration-count: 1;
    opacity: 0.0
}

@-webkit-keyframes pulsate {
    0% {-webkit-transform: scale(0.1, 0.1); opacity: 0.0;}
    50% {opacity: 1.5;}
    100% {-webkit-transform: scale(1.2, 1.2); opacity: 0.0;}
}

.crud-btn {
    color: #fff;
    background-color: #73A0B8;
    border-color: #73A0B8;
}
.crud-btn:hover,
.crud-btn:focus,
.crud-btn:active,
.crud-btn.active,
.open .dropdown-toggle.crud-btn {
    color: #ffffff;
    background-color: #5A7D8F;
    border-color: #5A7D8F;
}

.user-div{
    margin-right: 12px;
}

.show {
    color: #73A0B8;
    float: left;
    margin-right: 12px;
    margin-bottom: 0px;

}

.show-data {
    padding-top: 4px;
    padding-bottom: 5px;
}
